<div class="modal fade" id="specialScheduleFormModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-calendar-plus me-2"></i>
                    <span id="formModalTitle">Nueva Jornada Especial</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="specialScheduleFormElement">
                    <input type="hidden" id="professionalId" value="">
                    <input type="hidden" id="scheduleId" value="">
                    
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="fecha" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="fecha" name="fecha" required>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="horaDesde" class="form-label">Hora Desde</label>
                            <div class="row">
                                <div class="col-6">
                                    <select class="form-select" id="horaDesdeHour" name="horaDesdeHour" required>
                                        {% for hour in 0..23 %}
                                            <option value="{{ '%02d'|format(hour) }}">{{ '%02d'|format(hour) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <select class="form-select" id="horaDesdeMinute" name="horaDesdeMinute" required>
                                        {% for minute in [0, 15, 30, 45] %}
                                            <option value="{{ '%02d'|format(minute) }}">{{ '%02d'|format(minute) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="horaHasta" class="form-label">Hora Hasta</label>
                            <div class="row">
                                <div class="col-6">
                                    <select class="form-select" id="horaHastaHour" name="horaHastaHour" required>
                                        {% for hour in 0..23 %}
                                            <option value="{{ '%02d'|format(hour) }}">{{ '%02d'|format(hour) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <select class="form-select" id="horaHastaMinute" name="horaHastaMinute" required>
                                        {% for minute in [0, 15, 30, 45] %}
                                            <option value="{{ '%02d'|format(minute) }}">{{ '%02d'|format(minute) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="specialScheduleFormElement" class="btn btn-success">
                    <i class="fas fa-save me-2"></i>Guardar
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>